# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/node_modules_dev

# Temp files to help troubleshoot what sessions are expected from the numbers files for testing
/src/app/contactTraceCommonServices/DistanceDev.json
/src/app/contactTraceCommonServices/DistanceEdge.json
/src/app/contactTraceCommonServices/Node.json
/src/app/contactTraceCommonServices/sample.json
/src/app/contactTraceCommonServices/sampleAll.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
*.swp
.nfs*
.DS_Store
Thumbs.db
