.mapStyle{
    height:100%;
    width:100%;
    /* height:calc(100vh - 350px); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* position: sticky !important; */
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}


#mapTooltip {
    color:#333333;
    background:#f5f5f5;
    border:1px solid #cccccc;
    border-radius:.25rem;
    padding:.25rem;
  }

  .bottom-table{
    font-size: calc((.5vmax));   
}