#main-tabset {
    height: 100%;
}
#phylocanvas {
    height: 100%;
}
body .ui-tabview {
    height: 100% !important;
}
body .ui-tabview .ui-tabview-panels {
    height: 100% !important;
}
body .ui-tabview .ui-tabview-panels .ui-tabview-panel {
    height: 100% !important;
}
