<div class="m-content">   
    <div class="m-portlet m-portlet--mobile" style="height:100%;">

        <mat-toolbar id="top-toolbar" class="nav-bar">
            <div class="navbar-logo">
              <span class="microbe-font">Microbe</span>
              <span class="trace-font">Trace</span>
            </div>
            <div class="menu-items">
              <button class="navbar-item" mat-button [matMenuTriggerFor]="fileMenu"><i class="far nav-icon flaticon-file-1"></i>File<span class="dropdown-symbol">&#9660;</span></button>
              <mat-menu #fileMenu="matMenu" overlapTrigger="false">
                <button mat-menu-item (click)="FileClick('Stash Session')">Stash</button>
                <button mat-menu-item (click)="FileClick('Recall Session')">Recall</button>
                <button mat-menu-item (click)="FileClick('Save Session')">Save</button>
                <button mat-menu-item (click)="FileClick('Open Session')">Open</button>
                <button mat-menu-item (click)="FileClick('Open URL')">Open URL</button>
                <button mat-menu-item (click)="FileClick('Add Data')">Add Data</button>
                <button mat-menu-item (click)="FileClick('New Session')">New</button>
              </mat-menu>
              <button class="navbar-item" (click)="DisplayGlobalSettingsDialog()" mat-button><i class="far nav-icon flaticon-cogwheel-2"></i>Settings</button>
              <button class="navbar-item" mat-button [matMenuTriggerFor]="viewMenu"><i class="far nav-icon flaticon-web"></i>View<span class="dropdown-symbol">&#9660;</span></button>
              <mat-menu #viewMenu="matMenu" overlapTrigger="false">
                <button mat-menu-item (click)="Viewclick('2D Network')">2D Network</button>
                <button mat-menu-item (click)="Viewclick('Table')">Table</button>
                <button mat-menu-item (click)="Viewclick('Map')">Map</button>
                <button mat-menu-item (click)="Viewclick('Phylogenetic Tree')">Phylogenetic Tree</button>
              </mat-menu>
              <button class="navbar-item" mat-button [matMenuTriggerFor]="windowMenu"><i class="far nav-icon flaticon-web"></i>Window<span class="dropdown-symbol">&#9660;</span></button>
              <mat-menu #windowMenu="matMenu" overlapTrigger="false">
                <button mat-menu-item (click)="WindowClick('Reload Screen')">Reload</button>
                <button mat-menu-item (click)="WindowClick('Fullscreen')">Fullscreen</button>
                <button mat-menu-item (click)="WindowClick('Settings')">Settings</button>
              </mat-menu>
              <button class="navbar-item" mat-button [matMenuTriggerFor]="helpMenu"><i class="far nav-icon flaticon-questions-circular-button"></i>Help<span class="dropdown-symbol">&#9660;</span></button>
              <mat-menu #helpMenu="matMenu" overlapTrigger="false">
                <a href="https://github.com/CDCgov/MicrobeTrace/wiki" class="dropdown-item ifOnline" target="_blank" rel="noreferrer noopener" mat-menu-item>Help</a>
                <a href="https://github.com/CDCgov/MicrobeTrace/issues/new" class="dropdown-item ifOnline" target="_blank" rel="noreferrer noopener" mat-menu-item>Report Bug</a>
                <button (click)="HelpClick('About')" mat-menu-item>About</button>
              </mat-menu>
              <button class="navbar-item" mat-button [matMenuTriggerFor]="langMenu"><i class="far nav-icon flaticon-earth-globe"></i>Language<span class="dropdown-symbol">&#9660;</span></button>
              <mat-menu #langMenu="matMenu" overlapTrigger="false">
                <button mat-menu-item >English</button>
                <button mat-menu-item >Spanish</button>
              </mat-menu>
            </div>
          </mat-toolbar>

        <div id="visualwrapper" class="kt-container  kt-grid__item kt-grid__item--fluid " style="height:100%; margin: 16px 16px 0 16px;">
            <div class="kt-portlet kt-portlet--mobile" style="height:100%">
                <div class="kt-portlet__head kt-portlet__head--lg" style="height:100%">
                    <div class="m-portlet__body" style="flex: 1 100%; max-width:100%; height:100%">
                        <!-- <div id="tool-btn-container" class="m-portlet">
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showSettings == true">
                                <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings(i)"><i class="flaticon-settings primary"></i></a>
                            </span>
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showExport == true">
                                <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport(i)"><i class="flaticon-download primary"></i></a>
                            </span>
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showCenter == true">
                                <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openCenter(i)"><i class="flaticon-eye primary"></i></a>
                            </span>
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showPinAllNodes == true">
                                <a #pinbutton title="Pin All Nodes" id="pinbutton" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openPinAllNodes(i)"
                                    [style.background]="commonService.session.network.allPinned ? 'lightblue': 'transparent'"
                                ><i class="flaticon-pin primary"></i></a>
                            </span>
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showRefresh == true">
                                <a title="Refresh Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openRefreshScreen(i)"><i class="flaticon-refresh primary"></i></a>
                            </span>
                            <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showButtonGroup == true">
                                <p-selectButton #dataSet [options]="dataSetView" [(ngModel)]="dataSetViewSelected" (onOptionClick)="openSelectDataSetScreen(i,$event)"></p-selectButton>
                            </span>
                        </div> -->
                        <golden-layout-root></golden-layout-root>
                        <!-- <p-tabView id="main-tabset" (onClose)="removeTab($event)" (click)="setActiveTabProperties()">
                                <p-tabPanel id="homepageTabs{{i}}" *ngFor="let tab of homepageTabs; let i = index" [closable]="i > 0" header={{tab.label}} [selected]="tab.isActive" style="height:100%">

                                <div id="tool-btn-container" class="m-portlet">
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showSettings == true">
                                        <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings(i)"><i class="flaticon-settings primary"></i></a>
                                    </span>
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showExport == true">
                                        <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport(i)"><i class="flaticon-download primary"></i></a>
                                    </span>
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showCenter == true">
                                        <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openCenter(i)"><i class="flaticon-eye primary"></i></a>
                                    </span>
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showPinAllNodes == true">
                                        <a #pinbutton title="Pin All Nodes" id="pinbutton" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openPinAllNodes(i)"
                                            [style.background]="commonService.session.network.allPinned ? 'lightblue': 'transparent'"
                                        ><i class="flaticon-pin primary"></i></a>
                                    </span>
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showRefresh == true">
                                        <a title="Refresh Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openRefreshScreen(i)"><i class="flaticon-refresh primary"></i></a>
                                    </span>
                                    <span style="overflow: visible; position: relative; width: 110px;" *ngIf="showButtonGroup == true">
                                        <p-selectButton #dataSet [options]="dataSetView" [(ngModel)]="dataSetViewSelected" (onOptionClick)="openSelectDataSetScreen(i,$event)"></p-selectButton>
                                    </span>
                                </div>

                                <div class="m-portlet__body" style="background-color:white;" style="height:100%;">
                                    <ng-container #placeholder>{{tab.templateRef}}</ng-container>
                                </div>

                            </p-tabPanel> 
                        </p-tabView> -->

                    </div>
                </div>
            </div>
        </div>

        <div id="overlay" appDnd (fileDropped)="prepareFilesLists($event)">
            <input class="dnd-input" type="file" #fileDropRef id="fileDropRef" multiple (change)="prepareFilesLists($event.target.files)" />
            <div class="welcome-msg">
                <div id="welcome-title" class="top">
                    <span class="primary">Welcome to </span>
                    <span class="microbe primary">Microbe</span>
                    <span class="primary">Trace&#8482;</span>
                    <!-- <span><img class="mt-icon" src="../../assets/images/Logo.png"></span> -->
                    <!-- Swap/Uncomment when building productions -->
                    <span><img class="mt-icon" [src]="appRootUrl() + 'assets/images/Logo.png'"></span>
                </div>
                <div id="welcome-description" class="bottom primary">The Visualization Multitool for Molecular Epidemiology and Bioinformatics</div>
            </div>
            <div id="add-data-container" class="add-data-container">
                <div class="files-msg">
                    <span class="primary">Click </span>
                    <a class="here-link primary" for="fileDropRef">here</a>
                    <span class="primary"> or Drag & Drop files to load data</span>
                </div>
                <div class="add-btns primary">
                    <button mat-raised-button color="primary" class="recall" (click)="recallClicked()">Recall Previous Session</button>
                    <button mat-raised-button color="primary" (click)="continueClicked()">Continue with Sample Dataset</button>
                </div>
            </div>
            <!-- <div id="onload-container" class="launch-options-container primary">
                <span class="onload-bold">Onload Settings:</span>
                <span>Distance Metric: <span class="option-value" [matMenuTriggerFor]="metricMenu">{{metric}} <span class="onload-dropdown-symbol">&#9660;</span></span></span>
                <span id="ambiguities-menu">Ambiguities: <span class="option-value" [matMenuTriggerFor]="ambiMenu">{{ambiguity}} <span class="onload-dropdown-symbol">&#9660;</span></span></span>
                <span>View to Launch: <span class="option-value" [matMenuTriggerFor]="viewMenuBottom">{{launchView}} <span class="onload-dropdown-symbol">&#9660;</span></span></span>
                <span class="threshold-option">Link Threshold: 
                    <form class="threshold-input">
                    <mat-form-field class="threshold-input-length">
                        <mat-label></mat-label>
                      <input matInput (input)="updateThreshold($event)" [value]="threshold">
                    </mat-form-field>
                  </form>
                </span>
            </div>
            <mat-menu #metricMenu="matMenu"overlapTrigger="false">
                <button mat-menu-item (click)="updateMetric('TN93')">TN93</button>
                <button mat-menu-item (click)="updateMetric('SNPs')">SNPs</button>
            </mat-menu>
            <mat-menu #ambiMenu="matMenu" overlapTrigger="false">
                <button mat-menu-item (click)="updateAmbiguity('Average')">Average</button>
                <button mat-menu-item (click)="updateAmbiguity('Resolve')">Resolve</button>
                <button mat-menu-item (click)="updateAmbiguity('Skip')">Skip</button>
                <button mat-menu-item (click)="updateAmbiguity('GapMM')">GapMM</button>
                <button mat-menu-item (click)="updateAmbiguity('HIV-Trace -g')">HIV-Trace -g</button>
            </mat-menu>
            <mat-menu #viewMenuBottom="matMenu" overlapTrigger="false">
                <button mat-menu-item (click)="updateLaunchView('2D Network')">2D Network</button>
                <button mat-menu-item (click)="updateLaunchView('Table')">Table</button>
                <button mat-menu-item (click)="updateLaunchView('Map')">Bubbles</button>
                <button mat-menu-item (click)="updateLaunchView('Phylogenetic Tree')">Phylogenetic Tree</button>
            </mat-menu> -->
        </div>


        <p-dialog id="ledger-loader-modal" [(visible)]="displayLedgerLoaderDialog" header="Blockchain Ledgers" styleClass="ui-dialog" [contentStyle]="{'max-height':'50vh'}">

            <div class="position-relative" #ledgerloadDiv>
                <div class="loader">
                    <i class="fa fa-spinner fa-spin" style="font-size:40px;z-index:1;display:none;" #ledgerloader></i>
                </div>
            </div>

            <div style="min-height: 100px;">
                <p-tree [value]="ledgerOptions" selectionMode="checkbox"  [filter]="true" [(selection)]="ledgerOptionSelected" *ngIf="ledgerOptions && ledgerOptions.length > 0" scrollHeight="flex"></p-tree>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-error" (click)="ToggleDisplayLedgerLoaderDialog()">Cancel</button>
                <button type="button" id="stash-data2" class="btn btn-primary" (click)="DisplayLedgerLoaderDialog('Load')" [disabled]="!ledgerOptionSelected || ledgerOptionSelected.length === 0">Load</button>
            </div>

        </p-dialog><!-- /.modal -->
        


        <p-dialog id="global-settings-modal" 
                    [positionLeft]="GlobalSettingsDialogSettings.left" 
                    [positionTop]="GlobalSettingsDialogSettings.top" 
                    [(visible)]="GlobalSettingsDialogSettings.isVisible"  
                    header="Global Settings" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <tabset #globalSettingsTab class="tab-container tabbable-line" style='width: 100%; height: 100%;'>
                            <tab heading="{{'Filtering' | localize}}" customClass="m-tabs__item" style='width: 400px; height: 100%;'>

                                <div id="filtering-config" role="tabpanel" aria-labelledby="filtering-tab">
                                    <div class="form-group row" title="By what metric would you like to measure distance?">
                                        <div class="col-4">Distance Metric</div>
                                        <div class="col-8">
                                            <select id="default-distance-metric" class="form-control form-control-sm mr-5" [(ngModel)]="SelectedDistanceMetricVariable" (ngModelChange)="onDistanceMetricChanged()">
                                                <option value="tn93" selected>TN93</option>
                                                <option value="snps">SNPs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" title="By what algorithm would you like to prune links from the network?">
                                        <div class="col-4">Prune With</div>
                                        <div class="col-8">
                                            <p-selectButton [options]="PruneWityTypes" [(ngModel)]="SelectedPruneWityTypesVariable" (onChange)="onPruneWithTypesChanged()"></p-selectButton>
                                        </div>
                                    </div>                                    
                                    <div class="form-group row" title="What's the minimum number of nodes a cluster must have in order to be visible?">
                                        <div class="col-4">
                                            <label for="cluster-minimum-size">Minimum Cluster Size</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="number" class="form-control form-control-sm" id="cluster-minimum-size" min="1" value="1" step="1" [(ngModel)]="SelectedClusterMinimumSizeVariable" (ngModelChange)="onMinimumClusterSizeChanged()">
                                        </div>
                                    </div>
                                    <div id="filtering-wrapper">
                                        <div class="form-group row" title="By what variable would you like to prune links from the network?">
                                            <div class="col-4"><label for="link-sort-variable">Filter Links on</label></div>
                                            <div class="col-8">
                                                <p-dropdown id="link-sort-variable" [options]="ToolTipFieldList" appendTo="body" [(ngModel)]="SelectedLinkSortVariable" (onChange)="onLinkSortChanged()"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group row" title="What's the maximum genetic distance you're willing to call a link?">
                                            <div class="col-4"><label for="link-threshold">Filtering Threshold</label></div>
                                            <div class="col-8"><svg id="link-threshold-sparkline" style="width: 280px; height: 48px;"></svg></div>
                                            <div class="col-8  offset-4">
                                                <input type="number" class="form-control form-control-sm" id="link-threshold" min="-1" value="1" step="0.001" [(ngModel)]="SelectedLinkThresholdVariable" (ngModelChange)="onLinkThresholdChanged()">
                                            </div>
                                        </div>
                                        <div class="form-group row" title="Click to reveal all hidden elements of the network.">
                                            <div class="col-4"><label for="reveal-all">Reveal</label></div>
                                            <div class="col-8">
                                              <button type="button" id="reveal-all" (click)="revealClicked()" class="btn btn-light btn-sm w-100">Everything</button>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group row" hidden title="Click to reveal all hidden elements of the network.">
                                        <div class="col-4"><label for="RevealAllTab">Reveal</label></div>
                                        <div class="col-8">
                                            <p-selectButton [options]="RevealTypes" [(ngModel)]="SelectedRevealTypesVariable" (onChange)="updateGlobalSettingsModel()"></p-selectButton>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row" title="Display a table of overview statistics for the network">
                                        <div class="col-4">Statistics</div>
                                        <div class="col-8">
                                            <p-selectButton [options]="StatisticsTypes" [(ngModel)]="SelectedStatisticsTypesVariable" (onChange)="onShowStatisticsChanged()"></p-selectButton>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{'Styling' | localize}}" customClass="m-tabs__item" style='width: 400px; height: 100%;'>

                                <div id="style-config" role="tabpanel" aria-labelledby="style-tab">
                                    <div class="form-group row" title="By what variable nodes be colored?">
                                        <div class="col-4"><label for="node-color-variable">Color Nodes By</label></div>
                                        <div class="col-8">
                                            <p-dropdown id="node-color-variable" [options]="FieldList" appendTo="body" [(ngModel)]="SelectedColorNodesByVariable" (onChange)="onColorNodesByChanged()"></p-dropdown>
                                        </div>
                                    </div>
                                    <div id="node-color-table-row" [hidden]="!ShowGlobalSettingsNodeColorTable" class="form-group row" title="Should MicrobeTrace display the table of colors?">
                                        <div class="col-4"><label>Nodes Color Table</label></div>
                                        <div class="col-8">
                                            <p-selectButton hidde [options]="NodeColorTableTypes" [(ngModel)]="SelectedNodeColorTableTypesVariable" (onChange)="onNodeColorTableChanged()"></p-selectButton>
                                        </div>
                                    </div>


                                    <div id="node-color-value-row" class="form-group row" title="What color should the nodes be?">
                                        <div class="col-4"><label for="node-color">Nodes</label></div>
                                        <div class="col-8">
                                            <input type="color" id="node-color" class="form-control form-control-sm" value="#1f77b4" [(ngModel)]="SelectedNodeColorVariable" (ngModelChange)="onNodeColorChanged()">
                                        </div>
                                    </div>
                                    <div class="form-group row" title="By what variable should links be colored?">
                                        <div class="col-4"><label for="link-color-variable">Color Links By</label></div>
                                        <div class="col-8">
                                            <p-dropdown id="link-tooltip-variable" [options]="ToolTipFieldList" appendTo="body" [(ngModel)]="SelectedColorLinksByVariable" (onChange)="onColorLinksByChanged()"></p-dropdown>
                                        </div>
                                    </div>
                                    <div id="link-color-table-row" [hidden]="!ShowGlobalSettingsLinkColorTable"  class="form-group row" title="Should MicrobeTrace display the table of colors?">
                                        <div class="col-4"><label>Link Color Table</label></div>
                                        <div class="col-8">
                                            <p-selectButton [options]="LinkColorTableTypes" [(ngModel)]="SelectedLinkColorTableTypesVariable" (onChange)="onLinkColorTableChanged()"></p-selectButton>
                                        </div>
                                    </div>

                                    <div id="link-color-value-row" class="form-group row" title="What color should the links be?">
                                        <div class="col-4"><label for="link-color">Links</label></div>
                                        <div class="col-8">
                                            <input type="color" id="link-color" class="form-control form-control-sm" [(ngModel)]="SelectedLinkColorVariable" (ngModelChange)="onLinkColorChanged()">
                                        </div>
                                    </div>

                                    <div class="form-group row" title="What color should denote selection?">
                                        <div class="col-4"><label for="selected-color">Selected</label></div>
                                        <div class="col-8">
                                            <input type="color" id="selected-color" class="form-control form-control-sm" value="#ff8300" [(ngModel)]="SelectedColorVariable" (ngModelChange)="updateGlobalSettingsModel()">
                                        </div>
                                    </div>
                                    <div class="form-group row" title="What color should the background be?">
                                        <div class="col-4"><label for="background-color">Background</label></div>
                                        <div class="col-8">
                                            <input type="color" id="background-color" class="form-control form-control-sm" value="#ffffff" [(ngModel)]="SelectedBackgroundColorVariable" (ngModelChange)="onBackgroundChanged()">
                                        </div>
                                    </div>
                                    <div class="form-group row" title="Load an existing MicrobeTrace style file">
                                        <div class="col-4">Apply Style</div>
                                        <div class="col-8">
                                            <input type="file" id="apply-style" class="d-none" [(ngModel)]="SelectedApplyStyleVariable" (ngModelChange)="updateGlobalSettingsModel()">
                                            <label class="custom-file-label" for="apply-style">Choose MicrobeTrace Style File</label>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="{{'Timeline' | localize}}" customClass="m-tabs__item" style='width: 400px; height: 100%;'>
                                <div id="timeline-config" role="tabpanel" aria-labelledby="timeline-tab">
                                    <div class="form-group row" title="By what variable timeline applied?">
                                        <div class="col-4"><label for="node-timeline-variable">Timeline By</label></div>
                                        <div class="col-8">
                                            <p-dropdown id="node-timeline-variable" [options]="FieldList" appendTo="body" [(ngModel)]="SelectedTimelineVariable" (onChange)="onTimelineChanged($event.value)"></p-dropdown>
                                        </div>
                                      </div>
                                </div> 
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-primary" (click)="GlobalSettingsDialogSettings.setVisibility(false)">Done</button>
                </div>
            </div>
        </p-dialog><!-- /.modal -->

        <p-dialog id="session-recall-modal" [(visible)]="displayRecallStashDialog" header="Recall Stash">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div #stashes id="recall-stashes-available" class="table-sm"></div>

                    <div class="modal-footer">
                        <button *ngIf="!HideThisForNow" type="button" class="btn btn-danger" id="recall-delete-stash" (click)="DisplayRecallStashDialog('Delete')">Delete</button>
                        <button type="button" class="btn" (click)="DisplayRecallStashDialog('Cancel')">Cancel</button>
                        <button type="button" class="btn btn-success" id="recall-load-stash" (click)="DisplayRecallStashDialog('Recall')">Recall</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </p-dialog><!-- /.modal -->

        <p-dialog id="open-auspice-url" [(visible)]="displayUrlDialog" header="Open Auspice JSON via URL">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <input type="text" id="auspice-url" class="form-control form-control-sm" [(ngModel)]="auspiceUrlVal" placeholder="URL of Auspice JSON to open" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" (click)="DisplayUrlDialog('Cancel')">Cancel</button>
                        <button type="button" class="btn btn-success" id="url-open-button" (click)="DisplayUrlDialog('Open')">Open</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </p-dialog><!-- /.modal -->


        <p-dialog id="session-stash-modal" [(visible)]="displayStashDialog" header="Save Session">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="form-group row" title="What would you like to call this session?">
                            <div class="col">
                                <input type="text" id="stash-name" class="form-control form-control-sm" [(ngModel)]="saveFileName" placeholder="Name your session!">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-error" (click)="DisplayStashDialog('Cancel')">Cancel</button>
                        <button type="button" id="stash-data" class="btn btn-primary" (click)="DisplayStashDialog('Save')" [disabled]="saveFileName === undefined || saveFileName === ''">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </p-dialog><!-- /.modal -->


        <p-dialog id="about-dialog" [(visible)]="displayAbout" header="About Microbetrace">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>
                            <span>{{"MicrobeTrace" | localize}} </span>
                            <small>v<span id="version">{{version}}</span></small>
                        </h3>
                        <p>
                            MicrobeTrace is an interactive web application that renders existing data from high-risk contact networks
                            in an easy-to-use Graphical User Interface (GUI). The network visualization can be customized according to
                            supplemental data sources and mathematical inferences like the most probable transmission pathways.
                            MicrobeTrace is a highly responsive, visual sequence analytics tool which can reduce the gap between data
                            production and analytics and help you to discover, understand, and display relationships (links) between
                            patients (nodes). MicrobeTrace can be deployed on laptops to locations without any Internet access, thereby
                            reducing both the startup cost and analysis time and effort.
                          </p>
                          <p class="about-links">
                            <a href="https://github.com/CDCgov/MicrobeTrace/wiki" target="_blank" rel="noreferrer noopener">
                              Click Here to Learn More
                            </a>
                          </p>
                          <p>
                            MicrobeTrace was built by the Molecular Epidemiology and Bionformatics Team at the CDC in Atlanta.</p>
                            <a class="about-links" href="https://cdcgov.github.io/MEBT" target="_blank" rel="noreferrer noopener" style="display: block;">
                              Click Here to See MEBT's Other Tools
                            </a>
                          
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="DisplayAbout()">Close</button>
                    </div>
                </div>
            </div>
        </p-dialog>

        <div id="main-panel" class="pane-container pane-horizontal">
            <noscript class="container-fluid">
              <div class="jumbotron">
                <h1>Sorry!</h1>
                <p class="lead">MicrobeTrace requires Javascript to run. Please <a href="https://www.enable-javascript.com/">enable Javascript</a> and refresh MicrobeTrace.</p>
              </div>
            </noscript>
            <div id="global-timeline-wrapper" style="display: none;">
              <div id="global-timeline" align="center">
                <div><button type="button" id="timeline-play-button" class="btn btn-light btn-sm" (click)="playTimeline()">{{playBtnText}}</button>
                <span id="global-timeline-field" contenteditable></span></div>
                <!-- <svg></svg>
                <mat-slider></mat-slider> -->
              </div>  
            </div>
          </div>

       
        <p-dialog class="table-z-index" id="global-settings-link-color-table" 
                    [positionLeft]="GlobalSettingsLinkColorDialogSettings.left" 
                    [positionTop]="GlobalSettingsLinkColorDialogSettings.top" 
                    [(visible)]="GlobalSettingsLinkColorDialogSettings.isVisible"  
                    header="Link Color Table" [style]="{'z-index': '1'}"
                    (onShow)="SelectedLinkColorTableTypesVariable='Show'"
                    (onHide)="SelectedLinkColorTableTypesVariable='Hide'"
                    >
            <div class="col-12" style="max-height: 50vh">
                <table id="link-color-table" style="width:100%;height:100%;"></table>
            </div>
        </p-dialog>

        <div id="color-transparency-wrapper">
            <input type="range" class="custom-range" id="color-transparency" min="0" max="1" step="0.05" value="1" >
        </div>


        <p-dialog id="global-settings-node-color-table" 
                    [positionLeft]="GlobalSettingsNodeColorDialogSettings.left" 
                    [positionTop]="GlobalSettingsNodeColorDialogSettings.top" 
                    [(visible)]="GlobalSettingsNodeColorDialogSettings.isVisible"  
                    header="Node Color Table" [style]="{width: '25vw'}"
                    (onShow)="SelectedNodeColorTableTypesVariable='Show'"
                    (onHide)="SelectedNodeColorTableTypesVariable='Hide'"
                    >
            <div class="col-12" style="max-height: 50vh">
                <table id="node-color-table" style="width:100%;height:100%;"></table>
            </div>
        </p-dialog>


    </div>
</div>
