<div id="timeline"></div>

<div class="view-controls">
  <button type="button" id="timeline-toggle-settings" class="btn btn-light btn-sm" data-toggle="button">
    <span class="oi oi-cog"></span>
  </button>
  <!-- <button type="button" id="timeline-play" class="btn btn-light btn-sm">
    <span class="oi oi-media-play"></span>
  </button> -->
</div>

<div id="timeline-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#timeline-configurations" id="timeline-nodes-tab" class="nav-link active" aria-controls="timeline-configurations" role="tab" data-toggle="tab">Epi Curve</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="timeline-configurations" role="tabpanel" aria-labelledby="timeline-nodes-tab">
      <div class="form-group row" title="Which variable in your data contains the date?">
        <div class="col-4">
          <label for="timeline-date-field">Date Field</label>
        </div>
        <div class="col-8">
          <select id="timeline-date-field" class="form-control form-control-sm w-100 nodeVariables"></select>
        </div>
      </div>
      <div class="form-group row" title="Should the Epi Curve be cumulative, or not?">
        <div class="col-4">Epi Curve</div>
        <div class="col-8">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-light btn-sm col active">
              <input type="radio" name="timeline-cumulation" id="timeline-noncumulative" autocomplete="off" checked>
              Noncumulative
            </label>
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="timeline-cumulation" id="timeline-cumulative" autocomplete="off">
              Cumulative
            </label>
          </div>
        </div>
      </div>
      <!-- <div class="form-group row" title="How quickly would you like the timeline to advance?">
        <div class="col-4"><label for="timeline-speed">Play Speed</label></div>
        <div class="col-8">
          <input type="range" class="custom-range" id="timeline-speed" min="0" max="100" step="10">
        </div>
      </div> -->
    </div>
  </div>
</div>
