
@import '~@angular/material/theming';

$blue-palette: (
    50 : #e0ecf5,
    100 : #b3cee6,
    200 : #80aed5,
    300 : #4d8ec4,
    400 : #2675b7,
    500 : #005daa,
    600 : #0055a3,
    700 : #004b99,
    800 : #004190,
    900 : #00307f,
    A100 : #adc5ff,
    A200 : #7aa1ff,
    A400 : #477cff,
    A700 : #2d6aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

@include mat-core();
$custom-theme-primary: mat-palette($blue-palette, 500);
$custom-theme-accent:mat-palette($mat-pink, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);